
@keyframes slide-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slide-in 0.5s forwards;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
        opacity: 0; 
    }
    100% {
        transform: translateY(0); 
        opacity: 1; 
    }
}

.modal-enter {
    animation: slide-down 0.5s forwards;
}

